.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}



.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.invert {
    filter: invert(1);
}

.radious {
    border-radius: 12px;
}

.margin {
    margin: 5px;
}

.padding {
    padding: 10px;
}

.pointer {
    cursor: pointer;
    
}

.bottom-m-0 {
    margin-bottom: 0;

}

.index {
    z-index: 999;
}


/* Scrollbar for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #121212; /* Very dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;  /* Dark grey thumb */
  border-radius: 10px;
  border: 3px solid #121212; /* Matches track for padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e3e3e; /* Slightly lighter on hover */
}
